.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: 0px;
  margin-top: 25px;
}

.DX {
  font-size: 45px;
  color: black;
}

.SC {
  font-size: 35px;
  margin-top: -16px;
  color: black;
}

.welcome-text {
  margin: 13px;
}

.manpower {
  margin: 50px;
  border: none;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

th,
td {
  border: none;
  padding: 3px;
  text-align: center;
  color: black;
}

th {
  font-size: 30px;
  border: none;
}

.ฝึกงานเสร็จสิ้น {
  color: rgb(0, 0, 0);
  background-color: #8BC34A;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  width: 150px;
  margin: 25px 0;
}

.รอฝึกงาน {
  color: rgb(0, 0, 0);
  background-color: #FF9800;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  width: 150px;
  margin: 25px 0;
}

.กำลังฝึกงาน {
  color: black;
  background-color: #FFEB3B;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  width: 150px;
  margin: 25px 0;
}

.file, .sprint, .Eva {
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.manpower-center {
  text-align: left;
  font-family: 'SCG Regular';
  font-size: 40px;
  color: rgb(92, 90, 90);
  margin: 20px;
}

.dashboard {
  height: 1200px;
  max-width: 100%;
  background-color: rgb(255, 255, 255);
}

.dashboard-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.card {
  position: relative;
  flex-direction: space-around;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 25px;
  border-radius: 10px;
}

.card-1 {
  position: relative;
  flex-direction: space-around;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 25px;
  border-radius: 10px;
}

.card-2 {
  position: relative;
  flex-direction: space-around;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 25px;
  border-radius: 10px;
}

.card img {
  width: 60px;
  height: 60px;
}

.card .label {
  font-size: 16px;
  flex-direction: column;
  text-align: space-around;
}

.blue-line {
  width: 100%;
  height: 10px;
  background-color: rgb(151, 184, 248);
  position: absolute;
  bottom: 0;
  left: 0;
}

.orange-line {
  width: 100%;
  height: 10px;
  background-color: #f0ad4e;
  position: absolute;
  bottom: 0;
  left: 0;
}

.cyan-line {
  width: 100%;
  height: 10px;
  background-color: #5bc0de;
  position: absolute;
  bottom: 0;
  left: 0;
}

.Green {
  width: 100%;
  height: 10px;
  background-color: rgb(13, 207, 91);
  position: absolute;
  bottom: 0;
  left: 0;
}

.add-1 {
  width: 40px;
  cursor: pointer;
}

/* .add-manpower {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 80px;
} */

.project-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  gap: 10px;
  width: 130px;
  margin-left: 120px;
  margin-top: -160px;
  cursor: pointer;
}
.project-item2 {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  gap: 10px;
  width: 130px;
  margin-left: 120px;
  margin-top: 0px;
  cursor: pointer;
}

.project-item span , .project-item2 span {
  font-size: 23px;
  color: black;
}

.pj-1- {
  margin-top: -35px;
  margin-left: 10px;
  color: black;
}

.label-1- {
  margin-left: 10px;
  margin-top: -35px;
  color: black;
}

.label-2- {
  margin-left: 10px;
  margin-top: -35px;
  color: black;
}

.number6 {
  font-size: 150px;
  font-weight: bold;
  margin-top: -43px;
  color: black;
}

.number3-1 {
  font-size: 150px;
  font-weight: bold;
  margin-top:-45px;
  color: black;
}

.number3 {
  font-size: 100px;
  font-weight: bold;
  margin-left: 45px;
  margin-top: -10px;
  color: black;
}

.number2 {
  font-size: 150px;
  font-weight: bold;
  margin-left: -150px;
  margin-top: -40px;
  color: black;
}

.number10 {
  font-size: 100px;
  font-weight: bold;
  margin-top: -80px;
  margin-left: 25px;
  color: black;
}

.labelz {
  font-size: 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  width: 150px;
  margin-top: -80px;
  margin-left: 30px;
  cursor: pointer;
}

.labelz-1 {
  font-size: 35px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  color: black;
}

.BLZ {
  width: 30px;
  cursor: pointer;
}

.item {
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.PI {
  margin-left: 10px;
  margin-top: -40px;
  color: black;
}

.Sc-1 {
  width: 40px;
  height: 40px;
  margin-left: -5px;
}

.PJZ {
  width: 40px;
  height: 40px;
  margin-left: -5px;
}

button {
  border: none;
  background: none;
}
