.product-backlog {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.header-left {
  display: flex;
  align-items: center;
}

.hamburger-menu img {
  width: 30px;
  margin-right: 20px;
}

.header-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search-container {
  position: relative;
  width: 120px;
  max-width: 500px;
  margin: auto;
}

.search- {
  width: 300px;
  padding: 8px 12px 8px 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  transition: border 0.3s ease;
  margin-left: -100px;
}

.search-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  opacity: 0.5;
  margin-left: -105px;
}

.mentor {
  text-align: right;
}

.back {
  width: 30px;
  height: 30px;
  margin-left: 1300px;
  margin-top: 20px;
  cursor: pointer;
}

.table-1 {
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
  margin-left: 75px;
}

.th-1,
.td-1 {
  padding: 8px;
  text-align: center;
}

.status {
  padding: 5px 10px;
  border-radius: 15px;
}

.status.active {
  background-color: #4CAF50;
  color: white;
}

.backlog-icon {
  width: 35px;
  height: 35px;
  background-image: url('https://cdn-icons-png.flaticon.com/128/5084/5084624.png');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.footer-2 {
  text-align: center;
  font-size: 16px;
  background-color: rgb(50, 50, 50);
  color: rgb(255, 255, 255);
  width: 100%;
  margin-bottom: 0px;
  margin-top: -66px;
}

.BL {
  width: 130px;
  height: 130px;
  margin-left: 100px;
}

.BL-1 {
  margin-left: 40px;
  margin-top: 25px;
  font-size: 65px;
}

.main-1 {
  height: 700px;
}

.BL-img {
  display: flex;
  color: #5C5A5A;
}

.table-2 {
  border-bottom: 2px solid #000000;
}