.body-PDB {
 background-color: white;
}

.back-button-container {
  display: flex;
  justify-content: flex-end; /* ดันปุ่มไปด้านขวาสุด */
}

.back-PDB {
  width: 30px;
  height: 30px;
  margin-left: 730px;
  margin-top: 80px;
  cursor: pointer;
  
}

.table-1 {
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  margin-top: 60px;
  margin-left: 75px;
}

.th-1,.td-1 {
  padding: 8px;
  text-align: center;
  font-size: 25px;
}

.td-1 {
  padding: 8px;
  text-align: center;
  font-size: 20px;
}

.status {
  padding: 5px 10px;
  border-radius: 15px;
}

.status.active {
  background-color: #4CAF50;
  color: white;
}

.backlog-icon {
  width: 35px;
  height: 35px;
  margin-top: 10px;
  background-image: url('/src/img/img_icon/backlog.png');
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

.BL {
  width: 130px;
  height: 130px;
  margin-left: 100px;
  margin-top: 30px;
}

.BL-1 {
  margin-left: 40px;
  margin-top: 45px;
  font-size: 60px;
}

.main-1 {
 height: 500px;
}

.BL-img {
  display: flex;
  color: #5C5A5A;
}

